<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>THETA_API_KEY</key>
    <string>m9fkzvj5vq6rvbn83u4qtdatkuqmw0c5c29x6g0ubr9b6sh0784rmwfwk0bdg5nw</string>
</dict>
</plist>
